.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: #f9f9f9;
    padding: 20px;
    background-image: url('../images/backdrop.jpg');
    background-position: bottom;
    scroll-behavior: smooth;
}

.background{
    background-image: url('../images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient_overlay{
background: linear-gradient(to left,rgba(52, 52, 52, 0.4), rgba(52, 52, 52, 0.4));
    padding: 5% 4%;
    justify-items: center;
}

.box {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 750px;
    width: 100%;
    text-align: center;
    /* height: 500px; */
    margin-top: 2rem;
}

.box h5 {
    font-size: 1.2rem;
    color: #2ba24c;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 2rem;
    color: #0c431c;
    margin-bottom: 20px;
    line-height: 1.4;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 95%;
}

.form-group1, .form-group2 {
    display: flex;
    gap: 20px;
    /* height: 10vh; */
}

.form-group1 > div, .form-group2 > div {
    flex: 1;
    position: relative;
}

.form-group3 {
    position: relative;
}

.form-group3 .i-place{
        top: 10%;
    transform: none;
    left: 1%;
    width: 3%;
}

.form-group4{
    position: relative;
    margin:0 20px;
    display: flex;
    justify-content: center;
}

#icons{
    font-size: x-large;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px 10px 10px 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1.3rem;
    outline: none;
    transition: border-color 0.3s ease;
    z-index: 1;
    height: 100%;
}


form .form-group3 textarea {
    resize: none;
    height: 30vh;
    color: #999;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    padding: 19px 10px 10px 50px;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: black;
}

textarea {
    height: 150px;
    resize: vertical;
}

.i-place {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
    z-index: 2;
    pointer-events: none;
    width: 7%;
}

/* i.fa-regular.fa-message {
    margin-top: 4rem;
    margin-left: 41rem;
} */

/* Button Styles */
button[type="submit"] {
    background-color: #2ba24c;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    /* margin-top: 8rem; */
    transition: background-color 0.3s ease;
    /* margin: 2%; */
}

button[type="submit"]:hover {
    background-color: #095804;
}

.main{
    display: flex;
}
.contact_info{
    display: flex;
    background-color: rgba(255, 255, 255,0);
    flex-direction: column;
    padding-top: 3%;
}

.details{
    align-content: center;
}

.heading{
        color: white;
    font-size: 10vh;
    padding: 4%;
    padding-bottom: 2%;
}

.info_card{
    display: flex;
    flex: 1;
    margin: 3% 7%;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    width: 75%;
    background-color: rgba(255, 255, 255,0.9);
}

.contact_icon{
    font-size: 2rem;
    align-content: center;
    margin: 6%;
    color: #0c431c;
}

.details h2{
    margin: 2%;
    color: #22813d;
    font-size: 1.5rem;
}

.details p{
    margin: 3%;
    color: #0c431c;
    font-size: 1.2rem;
}
.footer-container {
    color: rgb(25,175,98);
}


@media(max-width: 1024px){
    .main{
        padding-top: 44px;
    }
    .details h2 {
        font-size: 1.2rem;
    }
    .form-group3 .i-place {
        top: 14%;
        left: 3%;
    }
    .footer-container{
        margin-top: 0;
    }

}
@media(max-width:768px){
    .main{
        flex-direction: column;
    }
    .contact_info {
        margin-left: 59px;
    }
}
@media(max-width:425px){
    .box h2 {
        font-size: 1.5rem;
    }
    input[type="text"], input[type="email"], textarea {
        font-size: 11px;
    }
    #icons {
        font-size: 20px;
    }
    .form-group3 .i-place {
        left: 5%;
    }
    .contact_info {
        margin-left: 0;
    }
    .info_card {
        width: 88%; 
     }
     .details h2 {
        font-size: 1.1rem;
    }
    .details p {
        font-size: 1.1rem;
    }
}
@media (max-width: 375px) {
    #icons {
        font-size: 17px;
    }
    input[type="text"], input[type="email"], textarea {
        font-size: 10px;
        padding: 10px 10px 10px 36px;
    }
    .details h2 {
        font-size: 1.0rem;
    }
}
@media(max-width:320px){
    button[type="submit"] {
        font-size: 1.1rem;
    }
}
.background, .main{
    max-width: 1500px;
    margin: auto;
}


