{% extends 'base.html' %} 
{% load static %}

{% block title %}Welcome|Carttart-Tours & Travels{% endblock %} 
{% block logo_image %}{% static 'images/b-f-logo.png' %}{% endblock logo_image %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/tours.css' %}" />
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<link rel="stylesheet" href="{% static 'css/selector.css' %}">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

<!-- Hero Section with Video Background -->
<section class="hero">
    <video autoplay muted loop id="hero-video">
      <source src="{% static 'videos/tour_banner3.mp4' %}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="hero-content">
      <h1>Explore The World</h1>
      <p>Journey To Adventure, Comfort And Memories.</p>
    </div>
  </section>
  <!-- Section Selector -->
  <div class="section-selector">
    <a href="{% url 'healthcare' %}" class="section-link">
      <div class="section" data-image="solar-slider.jpg">
        <div class="sec-img">
          <img src="{% static 'images/health-insurance-blue.png' %}" alt="Health Insurance">
        </div>
        <div class="sec-text">Healthcare</div>
      </div>
    </a>
    
    <a href="{% url 'realestate' %}" class="section-link">
      <div class="section" data-image="hydro-slider.jpg">
        <div class="sec-img">
          <img src="{% static 'images/price-blue.png' %}" alt="price">
        </div>
        <div class="sec-text">Realestate</div>
      </div>
    </a>
    
    <a href="{% url 'fintech' %}" class="section-link">
      <div class="section" data-image="wind-slider.jpg">
        <div class="sec-img">
          <img src="{% static 'images/money-bag-blue.png' %}" alt="bag">
        </div>
        <div class="sec-text">Fintech</div>
      </div>
    </a>
    
    <a href="{% url 'energy' %}" class="section-link">
      <div class="section" data-image="electromagnetic-slider.jpg">
        <div class="sec-img">
          <img src="{% static 'images/factory-blue.png' %}" alt="factory">
        </div>
        <div class="sec-text">Energy</div>
      </div>
    </a>
    
    <a href="{% url 'commerce' %}" class="section-link">
      <div class="section" data-image="chemical-slider.jpg">
        <div class="sec-img">
          <img src="{% static 'images/grocery-store-blue.png' %}" alt="grocery-store">
        </div>
        <div class="sec-text">E-Commerce</div>
      </div>
    </a>
    
    <a href="{% url 'sports' %}" class="section-link">
      <div class="section" data-image="game-control-blue.png">
        <div class="sec-img">
          <img src="{% static 'images/game-control-blue.png' %}" alt="game">
        </div>
        <div class="sec-text">E-Sports</div>
      </div>
    </a>
    
    <a href="{% url 'tours' %}" class="section-link">
      <div class="section" data-image="chemical-slider.jpg">
        <div class="sec-img">
          <img src="{% static 'images/aeroplane-blue.png' %}" alt="travel">
        </div>
        <div class="sec-text">Tours&Travels</div>
      </div>
    </a>
  </div>
  <!-- MAIN CONTENT2 -->
  <main id="content">
    <section class="bakgground">
      <div class="boxcontainer">
        <div class="main-content">
          
      <!-- Third Image and Content -->
      <div class="card_main2">
        <div class="container_card">
          <div class="container_card_pofilephoto1" id="pc_image">
            <img src="{% static 'images/hotels.png' %}" class="profile-img2" alt="Fighting" />
          </div>
          <div class="container_card_content2">
         <div class="headd">
          <h1 class="card-title">HOTELS</h1>
         </div>
            <h5 class="card-description2">
              Experience comfort and luxury with our handpicked selection of
              hotels. Whether you're looking for a cozy retreat or a lavish
              stay, we offer accommodations that cater to every traveler’s
              needs.Choose from a wide range of hotels, from budget-friendly stays to world-class resorts, all carefully selected for quality and comfort.
              Enjoy breathtaking views, premium amenities, and exceptional hospitality that make your stay truly unforgettable.
              Seamlessly book hotels with exclusive deals, flexible options, and instant confirmation for a hassle-free travel experience.
             
            </h5>
          </div>
        </div>
      </div>
          <!-- First Image and Content -->
          <div class="card_main">
            <div class="container_card">
              <div class="container_card_content">
           <div class="headd-left">
            <h1 class="card-title2">PRIVATE TOURS</h1>
           </div>
                <h5 class="card-description1">
                  Craft your journey, discover your destination. Private
                  tours, your way.Experience luxury and personalized attention
                  with our exclusive private tours. Enjoy the freedom to
                  explore at your own pace, with a dedicated guide catering to
                  your interests and needs. Whether it's a cultural tour or a
                  scenic getaway, we ensure a memorable and hassle-free
                  experience. Book your private tour today and make your
                  journey one-of-a-kind!
                </h5>
              </div>
              <div class="container_card_pofilephoto2">
                <div class="profile-img">
              <img src="{% static 'images/private_tour2.jpg' %}" class="profile-img2" alt="Fighting" />
            </div>
                <!-- <img src="global.png" class="profile-img" alt="Real-Time Strategy" /> -->
              </div>
            </div>
          </div>

          <!-- Second Image and Content -->
          <div class="card_main2">
            <div class="container_card">
              <div class="container_card_pofilephoto1">
                <img src="{% static 'images/walk_tour2.jpg' %}" class="profile-img2" alt="Walk Tour" />
              </div>
              <div class="container_card_content2">
            <div class="headd">
              <h1 class="card-title">WALK TOURS</h1>
            </div>
                <h5 class="card-description2">
                  Step into the heart of your destination with our engaging
                  walking tours. Explore hidden gems, iconic landmarks, and
                  local favorites with expert guides who bring the history,
                  culture, and stories to life. Whether you're a history
                  enthusiast or a casual explorer, our walking tours offer a
                  deeper connection to the places you visit. Join us for an
                  unforgettable journey on foot and see your destination like
                  never before!Uncover the city, one step at a time. Explore
                  beyond the maps..
                </h5>
              </div>
            </div>
          </div>
      


      <!-- Forth Image and Content -->
      <div class="card_main">
        <div class="container_card">
          <div class="container_card_content">
          <div class="headd-left">
            <h1 class="card-title2">WILDLIFE TOURS</h1>
          </div>
            <h5 class="card-description1">
              Get up close with nature on our thrilling wildlife tours.
              Witness the majesty of wildlife in their natural habitat, from
              safaris to bird watching, we ensure an unforgettable adventure.Explore breathtaking national parks, lush jungles, and serene reserves teeming with diverse flora and fauna.
              Experience guided safaris led by expert naturalists who bring you closer to rare and exotic wildlife species.
              Capture stunning moments of nature’s wonders, from roaring lions and towering elephants to colorful tropical birds.
              Enjoy eco-friendly travel options that promote conservation and responsible tourism while immersing yourself in nature.
             
            </h5>
          </div>
          <div id="sc_image" class="container_card_pofilephoto2">
            <div class="profile-img">
              <img src="{% static 'images/wildlife.jpg' %}" class="profile-img2" alt="Fighting" />
            </div>
            <!-- <img src="global.png" class="profile-img" alt="Real-Time Strategy" /> -->
          </div>
        </div>
      </div>

      <!-- Fifth Image and Content -->
      <div class="card_main2">
        <div class="container_card">
          <div id="ac_image" class="container_card_pofilephoto1">
            <img src="{% static 'images/TS.jpg' %}" class="profile-img2" alt="Fighting" />
          </div>
          <div class="container_card_content2">
          <div class="headd">
            <h1 class="card-title">TRAVEL SERVICES</h1>
          </div>
            <h5 class="card-description2">
              Let us turn your dream vacation into reality! With expert
              planning and hassle-free arrangements, your perfect trip is just
              a click away. From exotic getaways to cultural explorations, we craft personalized travel experiences tailored to your preferences.
              Enjoy seamless bookings for flights, hotels, tours, and activities, all in one place.
              Our travel experts ensure stress-free itineraries, so you can focus on making memories while we handle the details.
              Discover exclusive deals, special packages, and curated travel plans designed to fit every budget and travel style.
            </h5>
          </div>
        </div>
      </div>

      <!-- Sixth Image and Content -->
      <div class="card_main">
        <div class="container_card">
          <div class="container_card_content">
          <div class="headd-left">
            <h1 class="card-title2">HOLIDAY PACKAGES</h1>
          </div>
            <h5 class="card-description1">
              Escape to paradise with our all-inclusive holiday packages
              designed for relaxation and adventure. From breathtaking
              destinations to seamless itineraries, our packages offer the
              perfect blend of comfort, luxury, and excitement. Enjoy
              top-notch accommodations, guided activities, and everything you
              need for a stress-free vacation. Explore stunning beaches, vibrant cities, and exotic landscapes with carefully curated travel experiences.
              Indulge in world-class dining, spa treatments, and thrilling excursions tailored to your preferences.
              Enjoy hassle-free travel with pre-arranged transfers, expert guides, and 24/7 customer support for a worry-free journey.
            </h5>
          </div>
          <div class="container_card_pofilephoto2">
            <div class="profile-img">
              <img src="{% static 'images/holiday.jpeg' %}" class="profile-img2" alt="Fighting" />
            </div>
            <!-- <img src="global.png" class="profile-img" alt="Real-Time Strategy" /> -->
          </div>
        </div>
      </div>

      <!-- Seventh Image and Content -->
      <div class="card_main2">
        <div class="container_card">
          <div id="ac_image" class="container_card_pofilephoto1">
            <img src="{% static 'images/guide.jpg' %}" class="profile-img2" alt="Fighting" />
          </div>
          <div class="container_card_content2">
           <div class="headd">
            <h1 class="card-title">TRAVEL GUIDE</h1>
           </div>
            <h5 class="card-description2">
              Our professional guides help you explore every destination in a more meaningful way. They’ll share fascinating stories, local legends, and hidden gems that you might otherwise miss. Guides also assist with planning the best excursions, must-see attractions, top activities, and personalized itineraries tailored to your time and interests. From navigating local culture to recommending the best food spots and shopping areas, they’re your go-to travel companions for a smooth, enriching, and unforgettable journey.
            </h5>
          </div>
        </div>
      </div>
      <!-- Collage -->
      <div class="box">
        <div class="box-content">
          <h1>CULTURAL AND HERITAGE TOURISM</h1>
          <p>
            Step into the past and explore timeless destinations where every monument, street, and tradition tells a story. From ancient temples and royal palaces to vibrant festivals and traditional cuisines, our tours offer a deep dive into the soul of each region. Experience the richness of diverse cultures through local art, architecture, folklore, and customs. Whether it’s wandering through UNESCO World Heritage Sites or engaging with local communities, our heritage journeys promise meaningful encounters and unforgettable memories.
          </p>
        </div>

        <div class="collage">
          <!-- Square Grid -->
          <div class="square-grid">
            <!-- Div 1 -->
            <div class="div1">
              <img src="{% static 'images/C&H.jpg' %}" alt="CULTURAL AND HERITAGE TOURISM" />
              <button class="image-button"><a href="http://127.0.0.1:8000/blog/tour/ultimate-travel-guide-trip-planning-tips/">Learn More</a></button>
            </div>
            <!-- Div 2 -->
            <div class="div2">
              <img src="{% static 'images/c&H2.jpeg' %}" alt="Medicines" />
              <button class="image-button"><a href="http://127.0.0.1:8000/blog/tour/holiday-packages-travel-tour-vacation-deals/">Learn More</a></button>
            </div>
            <!-- Div 3 -->
            <div class="div3">
              <img src="{% static 'images/C&H3.jpeg' %}" alt="Online Doctor Consultation" />
              <button class="image-button"><a href="http://127.0.0.1:8000/blog/tour/evolution-of-hotels-travel-hospitality-experience/">Learn More</a></button>
            </div>
            <!-- Div 4 -->
            <div class="div4">
              <img src="{% static 'images/C&H4.jpeg' %}" alt="Order With Prescription" />
              <button class="image-button"><a href="http://127.0.0.1:8000/blog/tour/wildlife-tours-nature-safaris-adventures/">Learn More</a></button>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </section>
  </main>

 <!-- dynamic-partner-slider -->
   

 <div class="company-slide-container">
  <div class="company-slide-section-title">
    <h2>Our Trusted Partners</h2>
  </div>

  <div class="company-slide-logo-slider-container">
    <div class="company-slide-logo-tracks">
      {% for logo in logos %}
        <div class="company-slide-logo-slide">
          <img src="{{ logo.logo.url }}" alt="{{ logo.name }}" />
        </div>
      {% empty %}
        <div class="company-slide-logo-slide">
          <p>No logos available.</p>
        </div>
      {% endfor %}

      <!-- Optional: Duplicate logos again for seamless scrolling -->
      {% for logo in logos %}
        <div class="company-slide-logo-slide">
          <img src="{{ logo.logo.url }}" alt="{{ logo.name }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>
  <!--Dynamic blog Card Section -->
  <div class="latest-card">
    <div class="Scroll">

        <h2>Wander Freely, Discover Endlessly!</h2>

        <div class="card-grid">
            {% for blog in blogs %}
            <div class="card {% if forloop.first %}active{% endif %}">
                {% if blog.image %}
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" />
                {% else %}
                    <img src="{% static 'images/blog_images/default_blog_image.jpg' %}" alt="{{ blog.title }}" />
                {% endif %}
                <div class="card-content">
                    <h3>{{ blog.title }}</h3>
                    <p>{{ blog.short_description|default:blog.content|truncatewords:30|safe }}</p>
                </div>
                <a href="{% url 'blog:tour_blog_detail' blog.slug %}" class="read-more">Explore More</a>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>


<script src="{% static 'js/tours.js' %}"></script>
{% endblock content %}